<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/admin.css" />
        <link rel="stylesheet" href="/css/admin-responsive.css" />
        <script defer src="/js/admin-header.js"></script>
        <script defer src="/js/admin-students.js"></script>
    </head>
    <body>
        <div id="notification" class="notification"></div>
        <div style="z-index: 3;" class="spinner-cover cover display-none">
            <div id="spinner" class="spinner"></div>
        </div>
        <div class="flex cover display-none choices">
            <div class="allocation-box">
                <button class="close-btn">X</button>
                <h1>Room Allocation</h1>
                <p class="header-caption dim-text">
                    Assign a room to <span class="--name">Evelyn</span> <span class="--matric_no">(FT23CMP0007)</span>
                </p>
                <p>Available Rooms (6)</p>
                <div class="rooms-box">
                    <% rooms.forEach((room,i) => { %>
                        
                        <div class="student-card room-selection-card free <%=i == 0 ? "active" : "" %>" >
                    <div class="card-header">
                        <div class="student-id-box">
                          <p class="dim-text">Room</p>
                          <p class="room_number"><%= room.room_number %></p>
                          </div>
                        <span class="badge hostel"><%= room.status %></span>
                    </div>
                        <div class="info">
                            <div class="row">
                              <p class="dim-text">Block:</p>
                              <p><%= room.block %></p>
                            </div>
                            <div class="row">
                              <p class="dim-text">Capacity:</p>
                              <p><%= room.occupants.length %>/<%= room.capacity %></p>

                            </div>
                            
                            <div class="row">
                              <p class="dim-text">Floor:</p>
                              <p><%= room.floor %></p>
                              </div>
                        </div>
                        <div class="amenities-box">
                          <p class="dim-text">
                            Amenities:
                          </p>
                          <div class="con">
                          <div class="sub-container"><p>Wifi</p></div>
        
        <div class="sub-container"><p>Desk</p></div>
        
        <div class="sub-container"><p>Wardrobe</p></div>
        
        <div class="sub-container"><p>Study Area</p></div>
                        </div>
                       </div>   
                    
                        <div class="btns-box">
                        <button class='select-btn'><%= i == 0 ? "Selected" : "Select Room" %></button>
                        </div>
                </div>


                    <% }); %>
                </div>

                <div class="allocation-btns-box">
                    <button id="accept-room" class="ok">Assign Room</button>
                    <button>Cancel</button>
                </div>
            </div>
        </div>
        <%- include("admin-header") -%>

        <div class="welcome-box">
            <h2>Student Management</h2>
            <p>Verify, reject, and assign rooms to students</p>
        </div>

        <section class="main-content">
            <div class="tabs">
                <button value="student-card" class="active">All Students</button>
                <button value="pending">Pending</button>
                <button value="verified">Verified</button>
                <button value="paid">Paid</button>
            </div>

            <div class="filters">
                <input type="text" placeholder="Search students..." />
                <select class="select-level">
                    <option value="all">All Levels</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                </select>
            </div>
            <div class="cards-box">
                <% students.forEach(student => { %>
                    <% 
                        let state = ''; // Default state if none of the conditions match

                        if (student.preference && !student.room) {
                            state = ' pending';
                        } else if (student.preference && student.room) {
                            state = ' verified';
                        } else if (student.payments && student.payments.length > 0) {
                            state = ' paid';
                        }
                    %>
                <div data-level="<%= student.level %>" class="student-card <%= state %> <%= student.payments &&student.payments.length > 0? ' paid':''%>">
                    <div class="card-header">
                        <div class="student-id-box">
                            <p class="dim-text">Matric N0</p>
                            <p class="matric_no"><%= student.matric_no %></p>
                        </div>
                        <span class="badge level"><%= student.level %> LVL</span>
                    </div>
                    <div class="name-box">
                        <div class="avatar">ES</div>
                        <div>
                            <h3 class="name"><%= student.name %></h3>
                            <p class="email"><%= student.email %></p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="row">
                            <p class="dim-text">Status:</p>
                            <p><%= student.room?'Verified': 'Pending' %></p>
                        </div>
                        <div class="row">
                            <p class="dim-text">Room:</p>
                            <p><%= student.room || 'Not assigned' %></p>
                        </div>

                        <div class="row">
                            <p class="dim-text">Preference:</p>
                            <p class="preference"><%= student.preference || 'None' %></p>
                        </div>
                    </div>
                    <div class="btns-box">
                        
                
                        <!--
                  <button class="assign-btn">Verify</button>
                  <button class="reject-room-btn">Reject</button>
                  -->
                  <% console.log(student.payments); %>

                <% if (state==' pending') { %>
                    <button class="primary-btn verify-btn">Verify</button>
                    <button class="red-color reject-room-btn"> Reject </button>
                <% } else if(!student.room && student.payments.length > 0){%>
                    <button class="assign-btn">Assign Room</button>
                    <button class="random-room-btn">Random Room</button>
                <% } else if(student.room){%>
                    
                    <button disabled class="assigned-room-btn"> Room Assigned </button>
                    <% } else if( student.payments.length === 0){%>
                        <button disabled class="assigned-room-btn"> No Payment </button>
                        <% } %>

                    </div>
                </div>
                
                <% }); %>


                <!-- <div
                    data-level="100"
                    class="student-card warning-strip pending"
                >
                    <div class="card-header">
                        <div class="student-id-box">
                            <p class="dim-text">Student ID</p>
                            <p class="matric_no">UG2001</p>
                        </div>
                        <span class="badge level">100 LVL</span>
                    </div>
                    <div class="name-box">
                        <div class="avatar">ES</div>
                        <div>
                            <h3 class="name">Evelyn Samuel</h3>
                            <p class="email">nevan@gmail.com</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="row">
                            <p class="dim-text">Status:</p>
                            <p>Pending</p>
                        </div>
                        <div class="row">
                            <p class="dim-text">Room:</p>
                            <p>Not assigned</p>
                        </div>

                        <div class="row">
                            <p class="dim-text">Preference:</p>
                            <p>A-101</p>
                        </div>
                    </div>
                    <div class="btns-box">
                        button class="assign-btn">Assign Room</button>
                  <button class="random-room-btn">Random Room</button>
                  
                        <button class="primary-btn">Verify</button>
                        <button class="red-color reject-room-btn">
                            Reject
                        </button>
                    </div>
                </div>
                <div data-level="200" class="student-card warning-strip paid">
                    <div class="card-header">
                        <div class="student-id-box">
                            <p class="dim-text">Student ID</p>
                            <p class="matric_no">FT23CMP00001</p>
                        </div>
                        <span class="badge level">200 LVL</span>
                    </div>
                    <div class="name-box">
                        <div class="avatar">ES</div>
                        <div>
                            <h3 class="name">Evelyn Samuel</h3>
                            <p class="email">nevan@gmail.com</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="row">
                            <p class="dim-text">Status:</p>
                            <p>Pending</p>
                        </div>
                        <div class="row">
                            <p class="dim-text">Room:</p>
                            <p>Not assigned</p>
                        </div>

                        <div class="row">
                            <p class="dim-text">Preference:</p>
                            <p>None</p>
                        </div>
                    </div>
                    <div class="btns-box">
                        <button class="assign-btn">Assign Room</button>
                        <button class="random-room-btn">Random Room</button>
                    </div>
                </div>
                <div data-level="300" class="student-card warning-strip paid">
                    <div class="card-header">
                        <div class="student-id-box">
                            <p class="dim-text">Student ID</p>
                            <p class="matric_no">UG2023001</p>
                        </div>
                        <span class="badge level">300 LVL</span>
                    </div>
                    <div class="name-box">
                        <div class="avatar">ES</div>
                        <div>
                            <h3 class="name">Evelyn Samuel</h3>
                            <p class="email">nevan@gmail.com</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="row">
                            <p class="dim-text">Status:</p>
                            <p>Pending</p>
                        </div>
                        <div class="row">
                            <p class="dim-text">Room:</p>
                            <p>Not assigned</p>
                        </div>

                        <div class="row">
                            <p class="dim-text">Preference:</p>
                            <p>None</p>
                        </div>
                    </div>
                    <div class="btns-box">
                        <button class="assign-btn">Assign Room</button>
                        <button class="random-room-btn">Random Room</button>
                    </div>
                </div> -->
            </div>
        </section>
    </body>
</html>
